@import "tailwindcss";
@import 'tailwind-animations';


@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #1F1F1F;
}

.dark {
  --background: #121212;
  --foreground: #E0E0E0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}


@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}

.loading-dots::after {
  content: "";
  animation: dots 3s infinite;
}

::view-transition-group(rol-creation) {
  z-index: 100;
}



