@import "tailwindcss";
@import 'tailwind-animations';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #1F1F1F;
}

.dark {
  --background: #1F1F1F;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

  

@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}

.loading-dots::after {
  content: "";
  animation: dots 3s infinite;
}