@import "tailwindcss";
@import 'tailwind-animations';

:root {
  --background: #ffffff;
  --foreground: #191919;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191919;
    --foreground: #ededed80;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }

  80%,
  100% {
    content: "";
  }
}

.loading-dots::after {
  content: "";
  animation: dots 3s infinite;
}

::view-transition-old(settings-expand),
::view-transition-new(settings-expand) {
  height: 100%;
}